.App {
  text-align: center;
  overflow-x: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.b-2bl{
  border: 2px solid blue !important;
}
.bc-blk{
  background-color: black !important;
}
.b-2blk, .b-2bl:hover{
  border: 2px solid black !important;
}
.bs-2blk{
  box-shadow: 0 0 0 2px black;
}
.f-10{font-size: 10px !important}
.f-11{font-size: 11px !important}
.f-12{font-size: 12px !important}
.f-13{font-size: 13px !important}
.f-14{font-size: 14px !important}
.f-15{font-size: 15px !important}
.f-16{font-size: 16px !important}
.f-17{font-size: 17px !important}
.f-18{font-size: 18px !important}
.f-19{font-size: 19px !important}
.f-20{font-size: 20px !important}
.f-b{font-weight: bold;}
.f-b1{font-weight: 100;}
.f-b2{font-weight: 200;}
.f-b3{font-weight: 300;}
.f-b4{font-weight: 400;}
.f-b5{font-weight: 500;}
.f-b6{font-weight: 600;}
.f-b7{font-weight: 700;}
.f-b8{font-weight: 800;}
.f-b9{font-weight: 900;}
.f-b10{font-weight: 1000;}

.f-uc{text-transform: uppercase;}
.f-cg{color: rgba(0,47,52,.64);}
.d-f-sb{    
  display: flex !important;
  justify-content: space-between;
}
.d-il-b{display: inline-block;}
.va-t{vertical-align: top;}

/* .mt-5{margin-top: 5px !important}
.mt-6{margin-top: 6px !important}
.mt-7{margin-top: 7px !important}
.mt-8{margin-top: 8px !important}
.mt-9{margin-top: 9px !important}
.mt-10{margin-top: 10px !important}
.mt-11{margin-top: 11px !important}
.mt-12{margin-top: 12px !important}
.mt-13{margin-top: 13px !important}
.mt-14{margin-top: 14px !important}
.mt-25{margin-top: 25px !important}

.mb-5{margin-top: 5px !important}
.mb-6{margin-top: 6px !important}
.mb-7{margin-top: 7px !important}
.mb-8{margin-top: 8px !important}
.mb-9{margin-top: 9px !important}
.mb-10{margin-top: 10px !important}
.mb-11{margin-top: 11px !important}
.mb-12{margin-top: 12px !important}
.mb-13{margin-top: 13px !important}
.mb-14{margin-top: 14px !important}
.mb-25{margin-top: 25px !important}

.ml-5{margin-top: 5px !important}
.ml-6{margin-top: 6px !important}
.ml-7{margin-top: 7px !important}
.ml-8{margin-top: 8px !important}
.ml-9{margin-top: 9px !important}
.ml-10{margin-top: 10px !important}
.ml-11{margin-top: 11px !important}
.ml-12{margin-top: 12px !important}
.ml-13{margin-top: 13px !important}
.ml-14{margin-top: 14px !important}
.ml-25{margin-top: 25px !important} */

.mr-6{margin-right: 60px !important}
.mr-7{margin-right: 70px !important}
.mr-8{margin-right: 80px !important}
.mr-9{margin-right: 90px !important}
.mr-10{margin-right: 100px !important}
.mr-11{margin-right: 110px !important}
.mr-12{margin-right: 120px !important}
.mr-13{margin-right: 130px !important}
.mr-14{margin-right: 140px !important}
.mr-15{margin-right: 150px !important}
.ol-n:focus{
  outline: none !important;
}
.bs-n{
  box-shadow: none !important;
}
.t-of-el{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.h-p:hover{
  cursor: pointer;
}
.d-b-m-a{
  display: block;
  margin: auto;
}
.d-fr{
  display: flex;
  flex-direction: row;
}
.d-f{
  display: flex;
 }
.jc-c{
  justify-content: center;
}
.ai-c{
  align-items: center;
}
.itemSeller-card{
  width: 425px;
  height: 250px;
}
.itemMedia-card{
  display: flex !important;
  flex-direction: column;
  margin: 30px 10px;
  width: 840px;
  height: 580px;
}
.imageBtn{
  height: 65px;
  width: 65px;
  background-size: contain;
}
.itemMedia-content{
  display: flex;
  flex-direction: row;
  width: 840px;
  padding: 0 !important;
  align-items: center;
}
.itemDesc-card{
  width: 840px;
}
.itemDetail-card{
  width: 425px;
  height: 170px;
}
.itemCard-location-date{
  align-items: flex-end;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-top: auto;
}
.itemCard-card{
  display: inline-block !important;
  margin: 30px 10px;
  width: 300px;
  height: 300px;
}
.itemCard-img{
  height: 196px;
  max-width: 100%;
  padding: 10px;
}
.itemCard-media{
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 196px;
  max-width: 100%;
}
.itemCard-content{
  width: 100%;
  height: 104px;
  padding: 8px 16px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.img{
  background-image: url('https://statics.olx.com.pk/external/base/img/hero_bg_pk.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  height: 250px;
}
.categoriesBar{
  height: 40px;
}
.n-l, .n-l:hover{/*no link*/
  color: black;
  text-decoration: none;
}
.header{
  border-bottom: 2px solid rgb(238, 238, 238)
}
.bar{
  border-bottom: 1px solid black;
}
.dropdownTitle{
  font-size: 13px; 
  font-weight: 700; 
}
.dropdown-toggle::after,.dropdownTitle:hover, .nav-link{
  color: black !important;
}
.footerLink{
  color: rgb(41, 197, 41) !important;
  padding: 0 !important;
  margin: 0;
  width: 160px;
}
.footerLink:hover{
  color: rgb(206, 201, 201) !important;
  color: rgb(72, 226, 72) !important;
}
.socialHeading{
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(238, 238, 238);
  margin: 0;
}
.socialIcon{
  font-size: 70px;
  margin: 0 30px;
}
.socialFooter, .socialBody{
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(238, 238, 238);
}
.socialBody{
  flex-direction: row;
  justify-content: center;
  border: none;
}
.flexCenter{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
